.gallery-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: "10px 10px 25px 0 #eef0f9";
  width: 100%;
  height: 400px;

  .carousel-image {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition effect */
    object-fit: cover;
  }

  &:hover {
    .carousel-image {
      transform: scale(1.05);
      opacity: 0.7; /* Adjust the opacity as needed */
    }

    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay opacity as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
    padding: 20px; /* Adjust the padding as needed */
    opacity: 0; /* Initially hidden */

    .gallery-in {
      text-align: center;
    }

    .gallery-in-text {
      font-size: 28px; /* Adjust the font size as needed */
      font-weight: bold;
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media only screen and (max-width: 768px) {
  .gallery-box {
    height: 180px;

    .gallery-in-text {
      font-size: 20px !important;
    }
  }
}
