.gallery-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: "10px 10px 25px 0 #eef0f9";
          box-shadow: "10px 10px 25px 0 #eef0f9";
  width: 100%;
  height: 400px;
}

.gallery-box .carousel-image {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
  /* Smooth transition effect */
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-box:hover .carousel-image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.7;
  /* Adjust the opacity as needed */
}

.gallery-box:hover .overlay {
  opacity: 1;
}

.gallery-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the overlay opacity as needed */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  /* Text color */
  padding: 20px;
  /* Adjust the padding as needed */
  opacity: 0;
  /* Initially hidden */
}

.gallery-box .overlay .gallery-in {
  text-align: center;
}

.gallery-box .overlay .gallery-in-text {
  font-size: 28px;
  /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 10px;
}

.gallery-box .overlay a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=GalleryItem.style.css.map */