.btn {
  font-size: 0.7rem;
  background-color: #4158d0;
  background-image: linear-gradient(
    to left,
    #dc2424 0%,
    #4a569d 90%,
    #dc2424 120%
  );
  text-transform: capitalize !important;
}
