.btn {
  font-size: 0.7rem;
  background-color: #4158d0;
  background-image: -webkit-gradient(linear, right top, left top, from(#dc2424), color-stop(90%, #4a569d), color-stop(120%, #dc2424));
  background-image: linear-gradient(to left, #dc2424 0%, #4a569d 90%, #dc2424 120%);
  text-transform: capitalize !important;
}
/*# sourceMappingURL=CustomButton.style.css.map */