.section-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 1060px;
  padding-top: 7rem;
  z-index: 1;
}

.section-theme .slideDec {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: url("../../assets/background/global-bg.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: -99;
}

.section-theme .slideDec::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#dc2424), color-stop(90%, #4a569d), color-stop(120%, #dc2424));
  background: linear-gradient(to left, #dc2424 0%, #4a569d 90%, #dc2424 120%);
  opacity: 0.9;
}

.section-theme .slide-wrap-container {
  position: relative;
  margin-bottom: 4rem;
  z-index: 99;
}

.section-theme .slide-wrap-container .slide-wrap-text {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 10%;
  color: #ffff;
  font-size: 140px;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 5px;
  opacity: 0.1;
}

.section-theme .slide-wrap-container .slide-top-text {
  color: #fff;
  position: relative;
  text-align: center;
}

.section-theme .slide-wrap-container .slide-top-text::before {
  content: "";
  position: absolute;
  width: 3%;
  height: 4px;
  top: -30px;
  left: 48%;
  border-radius: 5px;
  background: #fff;
}

.section-theme .carousel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.section-theme .carousel-box .theme-image {
  width: 100%;
  height: 850px;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  -webkit-transition: -webkit-transform 0.8s linear;
  transition: -webkit-transform 0.8s linear;
  transition: transform 0.8s linear;
  transition: transform 0.8s linear, -webkit-transform 0.8s linear;
}

.section-theme .carousel-box .theme-image:hover {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-theme .carousel-text-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 55px 120px 55px 50px;
}

.section-theme .carousel-text-box h2,
.section-theme .carousel-text-box p,
.section-theme .carousel-text-box a {
  color: #fff;
  margin: 5px;
  font-family: "Fira Sans Condensed", sans-sarif;
  font-weight: 700;
  cursor: pointer;
}

.section-theme .carousel-text-box h2 {
  font-size: 32px;
}

.section-theme .carousel-item {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .section-theme {
    min-height: 700px;
    padding-top: 20%;
  }
  .section-theme .slideDec {
    height: 80%;
  }
  .section-theme .slide-wrap-container {
    margin-bottom: 2rem;
  }
  .section-theme .slide-wrap-container .slide-wrap-text {
    font-size: 64px;
    letter-spacing: 0;
  }
  .section-theme .slide-wrap-container .slide-top-text::before {
    left: 40%;
    width: 15%;
  }
  .section-theme .carousel-box .theme-image {
    width: 100%;
    height: 600px;
  }
  .section-theme .carousel-text-box {
    padding: 20px;
  }
  .section-theme .carousel-text-box h2,
  .section-theme .carousel-text-box p,
  .section-theme .carousel-text-box a {
    color: #fff;
    margin: 5px;
    font-family: "Fira Sans Condensed", sans-sarif;
    font-weight: 700;
    font-size: 0.8rem;
  }
  .section-theme .carousel-text-box h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
/*# sourceMappingURL=SectionTheme.style.css.map */