.section-theme {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 680px;
  padding-top: 5rem;
  z-index: 1;

  .slideDec {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: url("../../assets/background/global-bg.jpg") center no-repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: -99;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to left,
        #dc2424 0%,
        #4a569d 90%,
        #dc2424 120%
      );
      opacity: 0.9;
    }
  }
  .slide-wrap-container {
    margin-top: 1rem;
    position: relative;
    z-index: 99;
    .slide-wrap-text {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      top: 10%;
      color: #ffff;
      font-size: 55px;
      font-weight: 400;
      font-family: "Pattaya", sans-serif;
      text-align: center;
      line-height: 50px;
      transform: translateY(-50%);
      letter-spacing: 5px;
      opacity: 0.1;
    }
    .slide-top-text {
      color: #fff;
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 15%;
        height: 4px;
        top: -30px;
        left: 42%;
        border-radius: 5px;
        background: #fff;
      }
    }
  }

  .carousel-box {
    display: flex;
    position: relative;
    overflow: hidden;
    .theme-image {
      width: 100%;
      height: 500px;
      filter: brightness(0.4);
      transition: transform 0.8s linear;
      &:hover {
        filter: brightness(0.6);
        transform: scale(1.1);
      }
    }
  }

  .carousel-text-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    padding: 20px;

    h2,
    p,
    a {
      color: #fff;
      font-family: "Fira Sans Condensed", sans-sarif;
      font-weight: 700;
      cursor: pointer;
      font-size: 0.8rem;
      padding: 6px;
    }

    h2 {
      font-size: 24px;
    }
    img {
      width: 45px;
    }
  }
}

@media screen and (min-width: 768px) {
  .section-theme {
    .slideDec {
      height: 100%;
    }
    .slide-wrap-container {
      margin-bottom: 2rem;
      .slide-wrap-text {
        font-size: 64px;
      }
      .slide-top-text {
        &::before {
          left: 45%;
          width: 10%;
        }
      }
    }
    .carousel-box {
      .theme-image {
        width: 100%;
        height: 500px;
      }
    }
    .carousel-text-box {
      padding: 30px;
      height: 300px;
      h2,
      p,
      a {
        color: #fff;
        font-family: "Fira Sans Condensed", sans-sarif;
        font-weight: 700;
        font-size: 0.8rem;
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 700;
      }
      img {
        margin: 5px;
        width: 40px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-theme {
    min-height: 800px;
    .slideDec {
      height: 100%;
    }
    .slide-wrap-container {
      margin-bottom: 2rem;
      .slide-wrap-text {
        font-size: 90px;
        letter-spacing: 0;
      }
      .slide-top-text {
        &::before {
          left: 46%;
          width: 8%;
        }
      }
    }
    .carousel-box {
      .theme-image {
        width: 100%;
        height: 580px;
      }
    }
    .carousel-text-box {
      padding: 30px;
      height: 300px;
      padding: 55px 120px 55px 50px;

      h2,
      p,
      a {
        color: #fff;
        font-family: "Fira Sans Condensed", sans-sarif;
        font-weight: 700;
        font-size: 0.8rem;
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 700;
      }
      img {
        margin: 5px;
        width: 40px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-theme {
    min-height: 900px;

    .slide-wrap-container {
      margin-bottom: 2rem;
      .slide-wrap-text {
        font-size: 120px;
        letter-spacing: 0;
      }
      .slide-top-text {
        &::before {
          left: 47%;
          width: 5%;
        }
      }
    }

    .carousel-box {
      .theme-image {
        height: 700px;
      }
    }
    .carousel-text-box {
      padding: 30px;
      height: 380px;
      padding: 55px 120px 55px 50px;

      h2,
      p,
      a {
        color: #fff;
        font-family: "Fira Sans Condensed", sans-sarif;
        font-weight: 700;
        padding: 10px;
      }
      h2 {
        font-size: 1.3rem;
        font-weight: 700;
      }
      img {
        width: 50px;
      }
    }
  }
}
