.section-about {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 980px;
  width: 100%;
}
.about-dec {
  position: absolute;
  background: url("../../assets//background/global-bg.jpg") center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #dc2424 0%, #4a569d 90%, #dc2424 120%);
    opacity: 0.9;
  }
}

@media only screen and (max-width: 768px) {
  .about-dec {
    width: 100%;
    height: 20%;
  }

  .about-text-2-topline {
    &::before {
      left: 40%;
      width: 20%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .about-dec {
    width: 100%;
    bottom: 60%;
  }

  .about-text-2-topline {
    &::before {
      left: 4%;
      width: 10%;
    }
  }
}
