.about-page-text {
  position: relative;
}

.about-page-text::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 4px;
  top: 120%;
  left: 42%;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc029), to(#4cd8b0));
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
}

.about-page-text-2 {
  position: relative;
}

.about-page-text-2::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 4px;
  top: 80%;
  right: -38%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc029), to(#4cd8b0));
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  background: #43a4c5;
  opacity: 0.75;
  width: 100vw;
  height: 100%;
}

.about-dec-2 {
  position: absolute;
  background: url("https://magiccity.uz/img/src/global-bg.jpg") center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
}

.about-dec-2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc029), to(#4cd8b0));
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  .about-page-text-2::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 40%;
    top: 150%;
    width: 20%;
  }
}
/*# sourceMappingURL=AboutPage.style.css.map */