.footer {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 600px;
  color: #fff;

  .footer-dec {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: url("../../assets/background/global-bg.jpg") center no-repeat;
    background-size: cover;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #43a4c5;
      background: linear-gradient(280deg, #04b6f1 0%, #002cae 62%);
      opacity: 0.8;
    }
  }

  .footer-container {
    overflow: hidden;
  }
  .footer-link-a {
    color: #fff;
    font-size: 0.8rem;
  }

  .footer-link {
    color: #fff;
    font-weight: 700;
    font-family: "Fira Sans Condensed", sans-serif;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 84%;
      height: 3px;
      top: 100%;
      left: 8%;
      border-radius: 15px;
      background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    min-height: 650px;
  }
  .footer-link {
    font-size: 14px !important;
  }
  .footer-link-a {
    font-size: 12px !important;
  }
  .footer-pages {
    span {
      text-align: center !important;
    }
  }
}
