.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: relative;
  min-height: 600px;
  color: #fff;
}

.footer .footer-dec {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: url("../../assets/background/global-bg.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
}

.footer .footer-dec::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(280deg, #04b6f1 0%, #002cae 62%);
  opacity: 0.9;
}

.footer .footer-container {
  overflow: hidden;
}

.footer .footer-link {
  color: #fff;
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif;
  padding-bottom: 5px;
  position: relative;
}

.footer .footer-link::before {
  content: "";
  position: absolute;
  width: 84%;
  height: 3px;
  bottom: 3px;
  left: 8%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc029), to(#4cd8b0));
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer .footer-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=FooterPage.style.css.map */