.header-content {
  overflow: hidden;
  position: relative;
  width: 100%;

  .header-img-box {
    width: 100%;
    height: 800px;

    background-image: url("../../../assets/background/Afsonalar2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.6);
  }
  .header-text-container {
    position: absolute !important;
    top: 55% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .header-wrap-container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    .header-wrap-text {
      color: #eef0f9;
      font-size: 120px;
      font-weight: 400;
      font-family: "Pattaya", sans-serif;
      text-align: center;
      line-height: 50px;
      letter-spacing: 10px;
      opacity: 0.2 !important;
    }
  }

  .header-link {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-content {
    .header-img-box {
      height: 600px !important;
    }

    .header-wrap-container {
      top: 52% !important;
      .header-wrap-text {
        display: none;
      }
    }
    .header-link {
      a {
        font-size: 1rem !important;
      }
    }
  }
}
