.header-content {
  position: relative;
}

.header-content .header-img-box {
  width: 100vw;
  height: 800px;
  background-image: url("../../../assets/background/Afsonalar2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.header-content .header-text-container {
  position: absolute !important;
  top: 55% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.header-content .header-wrap-container {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.header-content .header-wrap-container .header-wrap-text {
  color: #eef0f9;
  font-size: 140px;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
  opacity: 0.2 !important;
}

.header-content .header-link {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-content .header-link a {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .header-img-box {
    height: 600px !important;
  }
  .header-wrap-container {
    top: 52% !important;
  }
  .header-wrap-container .header-wrap-text {
    font-size: 60px !important;
  }
  .header-link a {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=HeaderContent.style.css.map */