@font-face {
  font-family: "Waltograph", sans sarif;
  src: url("../../fonts/waltograph42.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Waltograph", sans sarif;
  src: url("../../fonts/waltographUI.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.top-nav {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc029), to(#4cd8b0));
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
  min-height: 8px !important;
}

.nav-container {
  position: relative;
}

.nav-container .navigation {
  position: absolute;
  width: 100%;
  top: 0.15%;
  left: 0;
  cursor: pointer;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-container .navigation:hover {
  background-color: #fff;
}

.nav-container .navigation:hover .nav-link,
.nav-container .navigation:hover .nav-logo-text-1,
.nav-container .navigation:hover .nav-logo-text-2,
.nav-container .navigation:hover .nav-logo-text-3 {
  color: #000 !important;
}

.nav-container .navigation .nav-logo-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px !important;
}

.nav-container .navigation .nav-logo-container .nav-logo-text-1,
.nav-container .navigation .nav-logo-container .nav-logo-text-2,
.nav-container .navigation .nav-logo-container .nav-logo-text-3 {
  color: #fff;
  font-family: "Waltograph UI", sans-serif;
  line-height: 24px;
  text-align: center;
  font-size: 20px;
}

.nav-container .navigation .nav-logo-container .nav-logo-text-1,
.nav-container .navigation .nav-logo-container .nav-logo-text-3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.nav-container .navigation .nav-link {
  color: #fff;
  font-weight: 600;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 1px;
  position: relative;
  padding: 14px 16px;
}

.nav-container .navigation .nav-link::before {
  content: "";
  position: absolute;
  width: 84%;
  height: 3px;
  bottom: 3px;
  left: 8%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc029), to(#4cd8b0));
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-container .navigation .nav-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media only screen and (max-width: 1200px) {
  .nav-logo-container {
    padding-left: 230px !important;
  }
  .nav-link {
    padding: 0 !important;
  }
}
/*# sourceMappingURL=NavigationPage.style.css.map */