@font-face {
  font-family: "Waltograph", sans sarif;
  src: url("../../fonts/waltograph42.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Waltograph", sans sarif;
  src: url("../../fonts/waltographUI.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.item-link {
  width: 100%;
  position: relative;
  color: #fff;
  &:before {
    content: "❯";
    position: absolute;
    top: 25%;
    left: 90%;
    display: block;
    color: #fff;
    opacity: 0.5;
  }
}

.item-text {
  color: #ffff;
  position: relative;

  span {
    font-size: 16px;
    font-weight: 700;
  }
}

.top-nav {
  background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
  min-height: 9px !important;
  min-width: 100%;
  overflow: hidden;
}

.fixed-drawer-image {
  position: sticky;
  display: block;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-container {
  position: relative;
  display: block;

  .navigation {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0.15%;
    left: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;

    &:hover {
      background-color: #fff;

      .nav-link,
      .nav-logo-text-1,
      .nav-logo-text-2,
      .nav-logo-text-3 {
        color: #000 !important;
      }
    }

    .nav-logo-container {
      flex-direction: column;
      align-items: center;
      padding: 0 20px !important;

      .nav-logo-text-1,
      .nav-logo-text-2,
      .nav-logo-text-3 {
        color: #fff;
        font-family: "Waltograph UI", sans-serif;
        line-height: 24px;
        text-align: center;
        font-size: 20px;
      }

      .nav-logo-text-1,
      .nav-logo-text-3 {
        font-family: "Fira Sans Condensed", sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 600;
      }
    }
    .nav-link {
      color: #fff;
      font-weight: 600;
      font-family: "Fira Sans Condensed", sans-serif;
      letter-spacing: 1px;
      position: relative;
      padding: 10px;

      &::before {
        content: "";
        position: absolute;
        width: 84%;
        height: 3px;
        bottom: 3px;
        left: 8%;
        background-image: linear-gradient(90deg, #ffc029 0%, #4cd8b0 100%);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    &:hover {
      background-color: transparent !important;
      .nav-logo-text-2 {
        color: #fff !important;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .nav-logo-container {
    padding-left: 230px !important;
  }
  .nav-link {
    padding: 0 !important;
  }
}
