.header-container {
  width: 100%;
  min-height: auto;
  position: relative;
}

.header-container .header-prev-container {
  width: 100vw;
  height: 100vh;
}

.header-container .header-prev-container .myVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.header-container .header-flex-box {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-container .header-flex-box .header-img-container {
  height: auto;
}

@media only screen and (max-width: 768px) {
  .header-img-container {
    width: 350px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .header-img-container {
    width: 700px;
  }
}
/*# sourceMappingURL=Header.style.css.map */