.header-container {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  .header-prev-container {
    width: 100%;
    height: 100vh;
    .myVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }

  .header-flex-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    .header-img-container {
      height: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-img-container {
    width: 300px !important;
  }
  .header-flex-box {
    top: 60% !important;
  }
}

@media only screen and (max-width: 1440px) {
  .header-img-container {
    width: 700px;
  }
}
