.section-news {
  width: 100%;
  min-height: auto;
  padding: 7% 0;
  overflow: hidden;
}

.section-news .wrap-news {
  position: absolute;
  display: block;
  width: 100%;
  left: -30%;
  top: 24%;
  color: #eef0f9;
  font-size: 120px;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {
  .section-news .wrap-news {
    font-size: 70px !important;
    top: 0 !important;
    left: 1% !important;
  }
}

@media only screen and (max-width: 1444px) {
  .wrap-news {
    left: -35% !important;
  }
}
/*# sourceMappingURL=SectionNews.style.css.map */