.section-news {
  width: 100%;
  min-height: 600px;
  padding: 4% 0;

  .wrap-news {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 40%;
    color: #eef0f9;
    font-size: 70px;
    font-weight: 400;
    font-family: "Pattaya", sans-serif;
    text-align: center;
    line-height: 50px;
    transform: translateY(-50%);
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 768px) {
  .section-news {
    .wrap-news {
      font-size: 90px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-news {
    .wrap-news {
      left: -32%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-news {
    .wrap-news {
      font-size: 120px;
      left: -32%;
    }
  }
}

@media screen and (min-width: 2560px) {
  .wrap-news {
    font-size: 120px;
    left: -10%;
  }
}
