/* Loading.style.css */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: "#000";
  position: relative;
  background-color: #000;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(50%, 45%);
}

@media screen and (min-width: 768px) {
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(50%, 50%);
  }
}
