.wrap {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 24%;
  color: #eef0f9;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Media Query for Small Screens */
@media only screen and (max-width: 768px) {
  .wrap {
    font-size: 55px !important;
    letter-spacing: 5px;
  }
}

/* Media Query for Large Screens */
@media only screen and (min-width: 1200px) {
  .wrap {
    font-size: 120px;
    letter-spacing: 5px;
  }
}
/*# sourceMappingURL=SectionCards.style.css.map */