.wrap {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 24%;
  color: #eef0f9;
  font-weight: 400;
  font-size: 60px;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .wrap {
    font-size: 90px;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    font-size: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .wrap {
    font-size: 120px;
  }
}
