.wrap-gallery {
  position: absolute;
  display: block;
  width: 100%;
  left: -30%;
  top: 24%;
  color: #eef0f9;
  font-size: 140px;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {
  .wrap-gallery {
    font-size: 70px;
    top: 0 !important;
    left: 0 !important;
  }
  .wrap-text-container .gallery-text-3-topline::before {
    left: 44% !important;
    width: 20%;
  }
  .wrap-text-container .wrap-text-2 {
    left: 0 !important;
    font-size: 90px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .wrap-text-container .gallery-text-3-topline::before {
    left: 0;
    width: 10%;
  }
  .wrap-text-container .wrap-text-2 {
    left: -15%;
    font-size: 120px;
  }
}

@media only screen and (max-width: 1440px) {
  .wrap-gallery {
    left: -25%;
  }
  .wrap-text-container .gallery-text-3-topline::before {
    left: 0;
    width: 10%;
  }
  .wrap-text-container .wrap-text-2 {
    left: -30%;
    font-size: 140px;
  }
}
/*# sourceMappingURL=SectionGallery.style.css.map */