.wrap-gallery {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 40%;
  color: #eef0f9;
  font-weight: 500;
  font-size: 70px;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
  letter-spacing: 5px;
}

@media screen and (min-width: 768px) {
  .wrap-gallery {
    font-size: 90px;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .wrap-gallery {
    left: -35%;
  }
}

@media screen and (min-width: 1440px) {
  .wrap-gallery {
    font-size: 120px;
    left: -32%;
  }
}
