.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 10px;
  iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.contact-wrap-text {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  color: #eef0f9;
  font-size: 100px;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {
  .responsive-map {
    height: 350px;
  }
  .contact-wrap-text {
    top: -20%;
    font-size: 60px !important;
  }
}
