.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-wrap-text {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  color: #eef0f9;
  font-size: 100px;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {
  .contact-wrap-text {
    top: -20%;
    font-size: 70px !important;
  }
}
/*# sourceMappingURL=ContactPage.style.css.map */