.theme-container-card {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 15px;

  .itemImage {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
    -webkit-transition: transform 0.8s linear !important;
    -moz-transition: transform 0.8s linear !important;
    -o-transition: transform 0.8s linear !important;
    transition: transform 0.8s linear !important;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;

    &:hover {
      -moz-transform: scale(1.02) !important;
      -ms-transform: scale(1.1) !important;
      -webkit-transform: scale(1.1) !important;
      -o-transform: scale(1.1) !important;
      transform: scale(1.02) !important;
      filter: brightness(0.7);
    }
  }
  .theme-text-box {
    position: absolute !important;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    padding: 20px;

    img {
      width: 40px;
    }

    h2,
    p,
    a {
      color: #fff;
      font-family: "Fira Sans Condensed", sans-sarif;
      text-align: start;
      padding: 5px 0;
    }
    p,
    a {
      font-size: 14px;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 768px) {
  .theme-container-card {
    height: 450px;
    .theme-text-box {
      justify-content: center;

      h2,
      a,
      p {
        padding: 8px 0;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .theme-container-card {
    .theme-text-box {
      justify-content: space-between;
    }
  }
}
